*{
    margin: 0px;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: #0b0423;
    display: flex;
    align-items: center;
    justify-content: center;
}

#left, #right{
    width: 300px;
    min-height: 400px;
    margin: 20px;
    padding: 10px;              
    border: 2px dashed #fff;
    border-radius: 10px;
}

.list{
    background: #e91e63;
    height: 60px;
    width: 260px;           
    margin: 10px auto;       
    padding: 0 10px;           
    border-radius: 0px;        
    color: #fff;
    display: flex;
    align-items: center;
    cursor: grab;
    transition: 0.2s;
}

.list:active{
    cursor: grabbing;
    transform: scale(1.03);
}
.list img{
    width: 10px;
    margin-right: 15px;
    margin-left: 20px;
}